body{
	margin: 0px;
	padding: 0px;
	font-size: 10px;
	font-family: Arial;
}

section .botones a{
	float: left;
width: 24px;
height: 24px;
padding: 3px;
background: transparent center center scroll no-repeat;
}
section .botones a.nuevo{
	background-image: url(../img/new.png);
}
section .botones a.modificar{
	background-image: url(../img/modify.png);
}
section .botones a.habilitar{
	background-image: url(../img/enable.png);
}
section .botones a.deshabilitar{
	background-image: url(../img/cancel.png);
}

#nuevoProducto{
	display: none;
}